#titulo {
  color: red;
  font-size: 100px;
  text-align: center;
  background-color: yellow;
  text-shadow: 10px 12px black;
}

#parrafo1 {
  color: blue;
  font-size: 30px;
  text-align: center;
  background-color: yellow;
}
#parrafo2 {
  color: green;
  font-size: 30px;
  text-align: center;
  background-color: yellow;
}
#parrafo3 {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: black;
}
#parrafo4 {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: black;
}
#parrafo5 {
  color: blue;
  font-size: 30px;
  text-align: center;
  background-color: black;
}
#parrafo6 {
  color: blue;
  font-size: 30px;
  text-align: center;
  background-color: black;
}
#parrafo7 {
  color: red;
  font-size: 60px;
  text-align: center;
  background-color: blue;
  text-shadow: 10px 12px black;
}
