.imagen {
  width: 100px;
  height: 100px;
}
#p1 {
  font-size: 100px;
  text-alhign: center;
}
h1 {
  font-size: 25px;
  text-alhign: center;
}
h2 {
  font-size: 20px;
  text-alhign: center;
}
h3 {
  font-size: 20px;
  text-alhign: center;
}
h4 {
  font-size: 20px;
  text-alhign: center;
}
h5 {
  font-size: 20px;
  text-alhign: center;
}

.encabezado {
  background-color: yellow;
}
