body {
  background-image: url("PERU.jpg");
}
h1 {
  text-align: center;
  font-size: 80px;
}

#parrafo1 {
  font-size: 30px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 50px;
}

#parrafo2 {
  text-align: center;
  font-size: 30px;
}
