body {
  background-color: blue;
}
h1 {
  text-align: center;
}
canvas {
  background-color: white;
  position: relative;
  left: 35px;
  border: 20px solid green;
}
.canvaret {
  background-color: purple;
  position: relative;
  left: 2px;
  border: 100px solid purple;
}
canvas {
  background-color: white;
  position: relative;
  left: 35px;
  border: 20px solid green;
}
